body {
    background-image: url("https://wallpapercave.com/wp/wp1814735.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.container {
    width: 23%;
    margin: auto;     
    height: 100%;
    padding-top: 15%;
}

.contact-card {
    text-align: center;
    border: solid  black 7px;   
    width: 100%;
}