body {
    background-image: url("https://wallpapercave.com/wp/wp1814735.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.container {
    padding: 10px;
    padding-left: 23%;
    padding-top: 10%;
}

.r1, .r2 {
    display: flex;
    justify-content: space-around;
}

.r1 {
    margin-bottom: 2%;
}

.paintor {
    position: relative;
    width: 18%;
}

.image-paintor {
    display: block;
    width: 100%;
    height: auto;
}

.overlay-paintor {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0,0,0,.5);
}

.paintor:hover .overlay-paintor {
    opacity: 1; 
}

.text-paintor {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}