body {
    background-image: url("https://wallpapercave.com/wp/wp1814735.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

.container {
    padding: 5%;
    padding-left: 23%;
    text-align: center;
}

.p_pic {
    position: relative;
    width: 18%;
    margin: 5px;
}

.paintor {
    margin: auto;
}

.image-paintor {
    display: block;
    width: 100%;
    height: auto;
}

.overlay-paintor {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0,0,0,.5);
}

.paintor:hover .overlay-paintor {
    opacity: 1; 
}

.text-paintor {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-container {
    width: 75%;
    padding: 5px;
    margin: auto;
    background-color: rgba(255,255,255,.4);
    font-size: 20px;
}

.r1 {
    display: flex;
    justify-content: center;
}